:root {
    --dark-green: #006679;
    --white: #ffffff;
    --pink: #f09c8c;
    --light-grey: #edeff2;
    --black: #000000;
    --shadow: #c7cbcd;
    --green: #00839b;
    --grey: #676767;
    --outline-grey: #969595;
    --dark-grey: #262626;
    --focus-shadow: #939393;
    --card-border-radius: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: var(--dark-grey);
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(14rem, 15vw) auto;
    grid-template-rows: clamp(9rem, 12vh, 80rem) auto;
}

.sidebar {
    grid-row: 1 / 3;
    height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr auto 3fr 9fr;
    background-color: var(--dark-green);
    row-gap: calc(1.5rem + 2vh);
    align-self: start;
    position: sticky;
    top: 0;
}

.header {
    grid-column: 2;
    display: grid;
    grid-template-rows: minmax(3rem, 2.5vh) minmax(4rem, auto);
    align-items: center;
    background-color: var(--white);
    padding: 0.5rem 1vw;
    z-index: 2;
}

.main-content {
    grid-column: 2;
    grid-row: 2;
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: auto clamp(15rem, 20vw, 30rem);
    grid-template-rows: calc(1.5rem + 3.5vh) 1fr calc(0.6rem + 4vh) 1fr;
    background-color: var(--light-grey);
    gap: 0.8rem 1.2vw;
    padding: 0 1.2vw 0.8rem 1.2vw;
    z-index: 1;
    overflow: auto;
}

.brand-icon, .nav-icons {
    grid-column: 1;
}

.brand-name, .nav-names {
    grid-column: 2;
    color: var(--white);
}

.nav-names {
    font-size: calc(0.8rem + 0.3vw);
}

.main-nav {
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(6, calc(1.2rem + 2.3vh));
}

.sec-nav {
    grid-row: 3;
    display: grid;
    grid-template-rows: repeat(3, calc(1.2rem + 2.3vh));
}

.main-nav, .sec-nav {
    align-items: center;
}

.main-nav > a, .sec-nav > a {
    display: grid;
    grid-template-columns: 4rem auto;
    align-items: center;
    padding: 0.7vh 1.5vw 0.7vh 0.2vw;
}

.main-nav > a:hover, .sec-nav > a:hover {
    transition: background-color 0.2s ease;
    background-color: var(--green);
}

.top-header {
    display: grid;
    grid-template-columns: 1.5rem 2.5fr 0.7fr 20rem;
    align-items: center;
    column-gap: 1rem;
    padding-right: 0.5vw;
}

.bottom-header {
    display: grid;
    grid-template-columns: minmax(25rem, 2fr) 1fr;
    align-items: center;
}

.header{
    padding: 0.3rem 2rem;
}

.search-bar{
    grid-column: 2;
    border: none;
    background-color: var(--light-grey);
    height: 1.5rem;
    width: 100%;
    border-radius: 1rem;
    font-size: 85%;
    padding: 0 0.5rem;
}

.account {
    grid-column: 4;
    display: inline-grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: 1fr;
    align-items: center;
    justify-self: flex-end;
    column-gap: clamp(1rem, 1.5vw, 6rem);
}

.welcome {
    display: grid;
    grid-template-columns: clamp(2.5rem, calc(2.5rem + 3vw), 10rem) auto;
    grid-template-rows: 1fr 2fr;
    align-items: center;
}

.action {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, minmax(max-content, 1fr));
    column-gap: clamp(0.4rem, 5%, 3rem);
    justify-items: flex-end;
}

.hi-msg {
    grid-column: 2;
    font-size: calc(0.8rem + 0.2vw);
}

.profile-name {
    grid-row: 2;
    grid-column: 2;
    font-size: calc(1.2rem + 0.4vw);
    font-weight: bold;
}

.action-btns {
    grid-row: 1 / 3;
    border: none;
    border-radius: 0.6rem;
    width: calc(2.5rem + 5vw);
    height: calc(1.5rem + 1.2vh);
    background-color: var(--green);
    color: var(--white);
    font-size: calc(0.8rem + 0.3vh);
}

.action-btns:hover {
    transition: background-color 0.1s ease;
    background-color: var(--dark-green);
}

.header,
.project,
.announcements.content,
.trendings.content {
    background-color: var(--white);
    box-shadow: 0.1rem 0.2rem 0.5rem var(--shadow);
}

.project,
.announcements.content,
.trendings.content {
    border-radius: var(--card-border-radius);
}

.projects.title {
    grid-row: 1;
}

.projects.content {
    grid-row: 2 / 5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: minmax(auto, 1fr);
    gap: 1.2vw;
}

.project h4 {
    margin-bottom: 0.4rem;
    font-size: calc(1rem + 0.2vw);
}

.project {
    /* border: 1px solid blue; */
    display: grid;
    padding: 2rem 1.2rem 1rem 1.2rem;
    border-left: 1rem solid var(--pink);
    max-height: 50rem;
}

.project:hover, .announcements.content:hover, .trendings.content:hover {
    transition: 0.3s;
    box-shadow: 0 0 0.5rem var(--focus-shadow);
    transform: scale(1.02);
}

.project-actions {
    grid-row: 2;
    justify-self: flex-end;
    align-self: flex-end;
}

.action-icons {
    width: 1.5rem;
    margin-left: 0.8rem;
}

.action-icons:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

.announcements.content,
.trendings.content {
    padding: 1.2rem 1.5rem;
    align-items: center;
}

.announcements.title {
    /* border: 1px solid green; */
    grid-column: 2;
    grid-row: 1;
}

.announcements.content {
    /* border: 1px solid green; */
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-row: repeat(auto-fill, 100%);
}

.announcement h4 {
    margin-bottom: 0.2rem;
    font-size: calc(1rem + 0.2vw);
}

.announcement {
    padding: 7% 0px;
}

.announcement:not(.last) {
    border-bottom: 0.1rem solid var(--shadow);
}

.trendings.title {
    grid-column: 2;
    grid-row: 3;
}

.trendings.content {
    grid-column: 2;
    grid-row: 4;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: calc(0.2rem + 0.8vh);
}

.trending {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: calc(0.5rem + 0.2vw);
    align-items: center;
}

.trending-users {
    grid-column: 2 / 4;
}

.title {
    align-self: flex-end;
}

.title > h3 {
    font-size: calc(1rem + 0.7vh);
    font-weight: bold;
}

.branding {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    margin: 1rem 1.5rem 0 1rem;
}

.brand-icon, .nav-icons {
    justify-self: center;
    margin-right: 0.5rem;
}

.brand-icon{
    width: calc(1rem + 1vw);
}

.brand-icon:hover {
    transition: 0.5s;
    transform: rotate(180deg);
}

.nav-icons{
    width: calc(1rem + 0.5vw);
}

.brand-name,
.nav-names {
    grid-column: 2;
    justify-self: flex-start;
}

.brand-name{
    font-size: calc(1.6rem + 0.3vw);
}

.search-icon,
.noti-icon,
.account-actions,
.action-btns,
.action-icons,
.branding {
    cursor: pointer;
}

.search-icon,
.noti-icon {
    width: 1.5rem;
 }

.profile-pic {
    object-fit: cover;
    border-radius: 50%;
}

.account .profile-pic {
    width: 2.3rem;
    height: 2.3rem;
    grid-column: 2;
}

.welcome .profile-pic {
    grid-row: 1 / 3;
    width: calc(2.5rem + 1.5vw);
    height: calc(2.5rem + 1.5vw);
}

.trending-icons {
    width: calc(1.5rem + 2vw);
    height: calc(1.5rem + 2vw);
    object-fit: cover;
    border-radius: 50%;
}

h4 {
    font-weight: bold;
}

.main-content p {
    color: var(--grey);
    font-size: calc(0.8rem + 0.2vw);
}

.trending-users > h4{
    font-size: calc(1rem + 0.2vw);
}
